<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
        Publier un livreur
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="Menu">

  <ion-card>
  <ion-card-header style="text-align:justify; padding:3px;margin: 4px;font-size:20px;font-family: Arial; color:danger">Ajouter une offre de livraison
  </ion-card-header>


     <form style="text-align:justify; padding:3px;margin: 4px;font-size:20px;font-family: Arial; color: #ccc">
      <ion-item>
        <ion-label>Titre</ion-label>
        <ion-input type="text" [(ngModel)]="livreur.titre" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Adresse</ion-label>
        <ion-input type="text" [(ngModel)]="livreur.adresse" name="adresse"></ion-input>
      </ion-item>
      <ion-item>
       <ion-label>Téléphone</ion-label>
       <ion-input type="tel" [(ngModel)]="livreur.telephone" name="telephone"></ion-input>
     </ion-item>
       <ion-item>
        <ion-label>Disponibilité</ion-label>
        <ion-input type="text" [(ngModel)]="livreur.dispo" name="dispo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [(ngModel)]="livreur.description" name="description"></ion-textarea>
      </ion-item>

    <ion-item padding>
    
      <ion-button ion-button solid item-left (click)="annuler()" >
        Annuler
        </ion-button>
        <ion-button ion-button solid item-right (click)="posterAnnonce(livreur)" color="danger">Ajouter le livreur
          </ion-button>
    </ion-item>
    </form>

  </ion-card>

</ion-content>