<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color:#e0115f"></ion-back-button>
    </ion-buttons>
    <ion-title>information du livreur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="Menu">
  <ion-card>
    <ion-img src="assets/imgs/scooter.png"></ion-img>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>{{livreur?.name}}</ion-card-subtitle>
        <ion-card-title>{{livreur?.titre}}</ion-card-title>
      </ion-card-header>
      <p><b><u>Disponible</u></b> : {{livreur.dispo}}</p>
      <p><b><u>Description</u></b> : {{livreur.description}} </p>
      <p><b><u>adresse</u></b> : {{livreur?.adresse}} </p>
      <p><b><u>Date de publication</u></b> : {{dateString}} </p>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" style="color:#e0115f" horizontal="center" slot="fixed" (click)="callLivreur()">
    <ion-fab-button color="danger">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>