<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start" >
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
          Trouver un livreur
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content padding class="Menu" style="margin: 0px 0px 80px 0px">
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  
      <ion-list>

          <ion-grid>
              <ion-row>
                <ion-col size="6" *ngFor="let livreur of livreurs; let i = index">
                  <div>
                    <ion-card (click)="consulter(livreur)">
                      <ion-card-header>
                        <img src="assets/imgs/scooter.png" alt="Yoboulma">
                        <ion-card-subtitle style="color:#e0115f; font-size: x-small !important;
                                font-weight: 600;
                                letter-spacing: 0px;
                                text-transform: lowercase">{{livreur?.name}}</ion-card-subtitle>
                        <ion-card-title style="font-size: x-small; font-weight: 500;">{{livreur?.titre}}</ion-card-title>
                      </ion-card-header>
                    </ion-card>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataLivreur($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>


    <ion-fab vertical="bottom" style="color:#e0115f" horizontal="end" slot="fixed" (click)="creerAnnonce()">
      <ion-fab-button color="danger" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
