<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
          Trouver un livreur
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content padding class="Menu" style="margin: 0px 0px 80px 0px">
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  
      <ion-list *ngFor="let livreur of livreurs; let i = index">
        <ion-card (click)="consulter(livreur)">
    
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/scooter.png" alt="Yoboulma">
            </ion-avatar>
            <ion-label class="ion-text-wrap text_space">
              <ion-text color="primary">
                <h3 style="color:#e0115f">{{livreur?.name}}</h3>
              </ion-text>
              <p>{{livreur?.titre}}</p>
            </ion-label>
          </ion-item>
          <ion-card-content>
            <p><b><u>Disponible</u></b> : {{livreur.dispo}}</p>
            <p><b><u>Description</u></b> : {{livreur.description}} </p>
            <p><b><u>Date de fin</u></b> : {{ tabDate[i]}}</p>
          </ion-card-content>
        </ion-card>
      </ion-list>


    <ion-fab vertical="bottom" style="color:#e0115f" horizontal="end" slot="fixed" (click)="creerAnnonce()">
      <ion-fab-button color="danger" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
