<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            la charte de Yoboulma
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="color: black; text-align:justify; margin: 20px 20px 80px 20px;font-family: Arial;">
        
            <h3 color="danger">Préambule</h3> 

            Les présentes conditions générales d’utilisation de l’application mobile (ci-après dénommées « CGU de
            l’Application ») ont pour objet de déterminer les règles d’utilisation de l’application mobile « Yoboulma ».

            En installant l’Application sur votre terminal, vous acceptez sans condition ni réserve l’intégralité des
            CGU de l’Application définies ci-après. Si vous ne souhaitez pas accepter les présentes CGU de
            l’Application, nous vous demandons de ne pas accéder à l’Application.

            Toute utilisation de l’Application doit se faire dans le respect des présentes CGU de l’Application.

            Yoboulma se réserve la faculté de modifier les présentes CGU de l’Application à tout moment, tout ou partie
            des dispositions des CGU de l’Application mobile, afin de les adapter aux évolutions des Services, aux
            évolutions techniques, légales ou jurisprudentielles ou lors de la mise en place de nouvelles prestations.
            Les CGU applicables sont celles en vigueur à la date de la connexion et de l’utilisation de l’Application
            par l’Utilisateur.

            <h3 color="danger"> Article 1 : DÉFINITION</h3>
            Les termes débutant par une majuscule au sein des présentes CGU de l’Application, qu’ils soient utilisés
            indifféremment au singulier ou au pluriel, auront la signification qui leur est donnée ci-après :

            « Application et/ou Application Mobile Yoboulma » désigne l’application logicielle « Yoboulma » éditée et
            fournie par DigitPrest Consulting en collaboration avec <b color="danger">Ndéye Fatou DIENG</b> gestionnaire de projet de
            formation et initiatrice de ce projet. Elle est disponible gratuitement dans le « Google Play Store » de
            Google et bientôt sur l’«App Store » d’Apple et pour être téléchargée par l’Utilisateur sur son terminal
            Apple iOS et Android. L’Application comprend également les Contenus, les logiciels, les programmes, les
            outils (de programmation, de navigation, …), les bases de données, les systèmes d’exploitation, la
            documentation et tous autres éléments et services qui la composent, les mises à jour et les nouvelles
            versions qui peuvent être apportées à l’Application par Yoboulma.

            « Utilisateur » ou « Vous » désigne une personne physique ou de la personne investie de l'autorité
            parentale, et ayant téléchargé l’Application pour ses besoins propres, dans le cadre d’un usage strictement
            personnel.

            <h3 color="danger"> Article 2 : OBJET DE L’APPLICATION</h3>
            Depuis un certain temps, j’ai (<b color="danger">Ndéye Fatou DIENG</b>) pu constater la floraison d’un nouveau phénomène de
            livraison entre particulier et livreur nommé « coursier à moto ». Ce phénomène étant un peu informel a
            attiré mon attention sur comment gérer au mieux cette activité en capitalisant les ressources et en
            proposant plus de choix aux utilisateurs.
            Une première idée qui m’est venu en tête est de mettre en place une plateforme de mise en relation entre les
            usagers et les livreurs. En effet, en observant ce phénomène, j’ai pu constater que les livreurs sont
            souvent des jeunes disposant de moyen de transport et voulant arrondir leur fin de mois moyennant des cours
            de livraison qu’ils font et qui sont rémunérées. Ainsi, leur proposé de s’inscrire sur cette plateforme leur
            permettra d’avoir plus de visibilité et d’augmenter leur chance de gagner de l’argent.
            D’autre part, le client en ayant cette application installée sur leur téléphone ou bien sur la plateforme
            web (site) peuvent avoir plus de choix, visité les profils des livreurs et choisir celui qui lui convient. A
            la fin de la course, il peut émettre un avis ce qui participera à l’évolution du profil du livreur.
            Dans une phase de test, l’application mettra, juste en relation le client et le livreur et donc ne gèrera
            pas l’aspect paiement. Celui-ci se fera comme d’habitude en main propre.
            Application mobile disponible sur Android et IPhone.

            <h3 color="danger">Article 3 : DISPONIBILITÉ DE L’APPLICATION</h3> 
            L’Application est accessible 24 heures sur 24, 7 jours sur 7 sauf en cas de force majeure ou de survenance
            d’un évènement hors du contrôle et sous réserve des éventuelles pannes et interventions de maintenance
            nécessaires au bon fonctionnement de l’Application.

            La version du logiciel de l’Application peut être mise à jour de temps à autre pour ajouter de nouvelles
            fonctions et de nouveaux services.

            <h3 color="danger">Article 4 : CONDITIONS D’ACCÈS ET CONDITIONS FINANCIÈRES </h3>
            <h4 color="danger">4.1 : CONDITIONS D’ACCÈS</h4>

            <h5 color="danger">4.1.1 : Téléchargement</h5>

            Les équipements et moyens matériels permettant l’accès à l’Application sont à la charge exclusive de
            l’Utilisateur.

            Pour accéder et utiliser l’application, Vous devez posséder :

            Un téléphone compatible ou un terminal mobile compatible ;
            Un accès au réseau internet ;
            Un compte client dans un store virtuel chez l’un des fournisseurs de l’Application mobile (App store et/ou
            Google Play Store).

            <h5 color="danger">4.1.2 : Création ou enregistrement du compte</h5>

            Si l’Utilisateur ne dispose pas d’un compte, il sera requis qu’il en crée un afin de pouvoir utiliser
            l’Application. Il devra fournir les informations suivantes :

            Adresse e-mail
            Mot de passe

            Une fois le compte créé, l’Utilisateur entre son adresse e-mail et un mot de passe confidentiel permettant
            d’accéder aux Services.

            A l’inscription. Un lien d’activation lui sera envoyé pour vérification et activation afin d’utiliser
            l’application.

            L’Utilisateur garantit que les informations fournies lors de son inscription sont exactes, complètes et à
            jour.



            <h3 color="danger">Article 5 : DROITS, OBLIGATIONS, RESPONSABILITÉ DE L’ÉDITEUR</h3>
            Yoboulma fera ses meilleurs efforts pour assurer le bon fonctionnement de l'Application, il s'engage à
            sécuriser l'accès, la consultation et l'utilisation de l'Application.

            <h3 color="danger">Article 6 : LIMITES GÉOGRAPHIQUES ET GÉOLOCALISATION</h3>
            L’utilisation de l’application Yoboulma est strictement limitée au Sénégal.

            <h3 color="danger">Article 7 : PROTECTION DES DONNÉES PERSONNELLES</h3>
            L'Utilisateur est informé par des demandes d’autorisation d’accès pour chaque action qui nécessite son
            consentement. Les données de l’utilisateur sont stoquées dans une base de données sécurisées.

            <h3 color="danger">Article 8 : LA SÉCURITÉ DE L’APPLICATION</h3>
            L’Application et le logiciel sont fournis « tel quel » et « comme disponible » sans garantie quelle qu’elle
            soit. L’accès et l’utilisation de l'Application se font aux risques et périls de l'Utilisateur.
            <h3 color="danger">Article 9 : PROPRIÉTÉ INTELLECTUELLE</h3>
            Yoboulma est le propriétaire exclusif de tous les droits de propriété intellectuelle afférents à
            l’Application et son Contenu. Le téléchargement de l’Application ne confère aucun droit à l’Utilisateur sur
            les droits de propriété intellectuelle de Yoboulma.


    </div>

</ion-content>