<!-- -->
<ion-content padding>
  <div>
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo">
        <img src="assets/imgs/scooter.png" alt="Yoboulma">
        <img src="assets/icon/Yoboulma.png" alt="Yoboulma">
      </div>
      
        <div ion-text class="card-align">
          <h3 style="color: orange">trouve ton livreur</h3>
        </div>
    </div>

    <!-- Login form -->
    <ion-card>
        <ion-card-content>
            <form style="text-align:justify; padding:3px;margin: 4px;font-size:20px;font-family: Arial; color: #ccc; border: solid 1px #e0115f">
                <ion-item>
                  <ion-label floating style="color: #e0115f">
                    Email
                  </ion-label>
                  <ion-input type="email" [(ngModel)]="user.email" name="first"></ion-input>
                </ion-item>
          
                <ion-item>
                  <ion-label floating style="color: #e0115f">
                    Mot de passe
                  </ion-label>
                  <ion-input type="password" [(ngModel)]="user.password" name="last"></ion-input>
                </ion-item>
              </form>

              <ion-button shape="block" size="default" style="margin: 5px;" (click)="login(user)" color="danger">
                  <ion-icon slot="start" name="log-in"></ion-icon>
                  Se connecter
              </ion-button>
          
              <ion-button shape="block" size="default" style="margin: 5px;" (click)="register()" color="warning">
                  <span ion-text tappable  style="color: #e0115f">Nouveau?
                      <strong><u>S'inscrire</u></strong></span>
              </ion-button>
          
        </ion-card-content>
      </ion-card>
      <!-- <div *ngIf="fingerExist && firstConnect">
          <ion-fab vertical="bottom" style="color:#e0115f" horizontal="center" slot="fixed" (click)="fingerPrint()"  >
              <ion-fab-button color="danger">
                <ion-icon name="finger-print-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>

      </div> -->
      

      

    <p text-right ion-text tappable (click)="forgotPass()"><strong><u>Mot de passe
          oublié?</u></strong></p>

  </div>
</ion-content>
<ion-footer style="text-align: center" no-border *ngIf="!isKeyboardOpen">
  <ion-toolbar transparent>
    <ion-title>
        <span style="color:#e0115f; text-align: center; font-family:'Arial';">By DigitPrest Consulting
        </span>® 2021
    </ion-title>
  </ion-toolbar>
</ion-footer>