.home {
  background: url("../../../assets/img/BG2.jpg") no-repeat ;
  background-size: cover;
  color: #FFF;
}

ion-toolbar {
  background-image: url('../../../assets/icon/Yoboulma.png') 0 0/100% 100% no-repeat;
}
.navigate{
color:#e0115f; 
font-size: 35px; 
transform: rotate(45deg);
}

.navigate:active{
color:#000;
}

.img{
  width: 220px;
  height: 40px;
  padding: 1px 1px 1px 50px !important;
}

.ion-text-wrap.sc-ion-label-md-h, [text-wrap].sc-ion-label-md-h {
  white-space: normal;
  padding: 10px;
}

.list-md, .list-ios {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.swiper-pagination-bullet-active {
  background: #e0115f;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
  background: #e0115f !important;
}