<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start" style="color:#e0115f">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="img" src="assets/icon/Yoboulma.png" alt="Yoboulma">
    <ion-title></ion-title>
    <ion-buttons slot="primary" style="color: transparent">
      <ion-button (click)="shareApp()">
        <ion-icon slot="end" name="share-social-outline" style="color:#e0115f"></ion-icon>
      </ion-button>
      <ion-button (click)="openGeoloc()">
        <ion-icon slot="end" name="navigate" style="color:#e0115f"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="menu">
  <ion-content>
    <ion-segment color="danger" (ionChange)="segmentChanged()" [(ngModel)]="segment">
      <ion-segment-button value="0">
        Livreurs disponibles
      </ion-segment-button>
      <ion-segment-button value="1">
        Annonces disponibles
      </ion-segment-button>
    </ion-segment>


    <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <ion-slide>
        <div style="width:100%;">
          <h4 style="color:#e0115f">Livreurs disponibles</h4>
          <ion-label>
              <!-- <ion-searchbar
              [(ngModel)]="inputLivreur"
              (ionInput)="rechercherLivreur($event)"
              placeholder="Chercher un livreur"
              (ionCancel)="onCancel($event)">
            </ion-searchbar> -->
          </ion-label>

          <ion-list *ngFor="let livreur of livreurs; let i = index">
            <ion-card (click)="consulter(livreur)">
              <ion-item>
                <ion-avatar item-start>
                  <img src="assets/imgs/scooter.png" alt="Yoboulma">
                </ion-avatar>
                <ion-label class="ion-text-wrap">
                  <ion-text color="primary">
                    <h3 style="color:#e0115f">{{livreur?.name}}</h3>
                  </ion-text>
                  <p>{{livreur?.titre}}</p>
                </ion-label>
                <ion-label text-right>
                    <ion-text color="primary">
                        <h3 style="color:#e0115f">Date publication</h3>
                      </ion-text>
                      <p>{{ tabDateLiv[i]}}</p>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-list>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataLivreur($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="width:100%;">
          <h4 style="color:#e0115f">Annonces disponibles</h4>
          <ion-label>
              <!-- <ion-searchbar
              [(ngModel)]="inputAnnonce"
              (ionInput)="rechercherAnnonce($event)"
              placeholder="Chercher une annonce"
              (ionCancel)="onCancel($event)">
            </ion-searchbar> -->
          </ion-label>
          <ion-list *ngFor="let annonce of annonces; let i = index">
            <ion-card (click)="consulterAnnonce(annonce)">
              <ion-item>
                <ion-avatar item-start>
                  <img src="assets/img/profile.png" alt="Yoboulma">
                </ion-avatar>
                <ion-label class="ion-text-wrap text_space">
                  <ion-text color="primary">
                    <h3 style="color:#e0115f">{{annonce?.auteur}}</h3>
                  </ion-text>
                  <p>{{annonce?.titre}}</p>
                </ion-label>
                <ion-label text-right>
                    <ion-text color="primary">
                        <h3 style="color:#e0115f">Date de fin</h3>
                      </ion-text>
                      <p>{{ tabDateAn[i]}}</p>
                </ion-label>
              </ion-item>
            </ion-card>

          </ion-list>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataAnnonce($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>



</ion-content>