<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:#e0115f; font-size: 30px"></ion-icon>
    </button>
    <ion-title style="text-align: center;">
      <h4 style="display: inline;"> 
        <strong style="color:#e0115f; text-align: center; font-family:'Arial'; font-size: 25px ">Yoboulma | 
        </strong>
          | Trouve ton livreur ici!
      </h4>
      Bienvenu {{profileData?.prenom}} {{profileData?.nom}} 
    </ion-title>
    <ion-buttons end >
        <button ion-button clear (click)="openGeoloc()" style=" padding-right: 3px;margin-right: 4px;">
          <ion-icon name="navigate" class="navigate"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-header [translucent]="true">

  <ion-toolbar >
    <ion-buttons slot="start" style="color:#e0115f">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="img" src="assets/icon/Yoboulma.png" alt="Yoboulma">
    <ion-title></ion-title>
    <!-- <ion-title>Bienvenu {{profileData?.prenom}} {{profileData?.nom}} </ion-title> -->
    <ion-buttons slot="primary" style="color: transparent">
      <ion-button (click)="openGeoloc()">
        <ion-icon slot="end" name="navigate" style="color:#e0115f"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="menu">
  <ion-label>
    <h2>{{folder}}</h2>
    <ion-searchbar (click)="getItems($event)" placeholder="trouve un livreur"></ion-searchbar>
  </ion-label>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let livreur of livreurs">
    <ion-item (click)="Consulter(livreur)" detail-livreur>
      <ion-thumbnail item-start>
        <img src="assets/img/icon.png">
      </ion-thumbnail>
      <h1>{{livreur?.name}}</h1>
      <h2>{{livreur?.titre}}</h2>
      <h2>
        <ion-icon name="pin" item-start large style="color:#e0115f"></ion-icon>
        {{livreur?.adresse}}
      </h2>
      <h2>
        <ion-icon name="call" item-start large style="color:#e0115f"></ion-icon>
        {{livreur?.telephone}}
      </h2>
      <p><b><u>Disponible</u></b> : {{livreur.dispo}}</p>
      <p><b><u>Description</u></b> : {{livreur.description}} </p>
    </ion-item>
  </ion-list>

</ion-content>