<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start" style="color:#e0115f">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="img" src="assets/icon/Yoboulma.png" alt="Yoboulma">
    <ion-title></ion-title>
    <ion-buttons slot="primary" style="color: transparent">
      <ion-button (click)="openGeoloc()">
        <ion-icon slot="end" name="navigate" style="color:#e0115f"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="menu">
  <ion-label>
    <ion-searchbar (click)="getItems($event)" placeholder="trouve un livreur"></ion-searchbar>
  </ion-label>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let livreur of livreurs">
    <ion-card [routerLink]="['/', 'detail-livreur', livreur]">

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/scooter.png" alt="Yoboulma">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3 style="color:#e0115f">{{livreur?.name}}</h3>
          </ion-text>
          <p>{{livreur?.titre}}</p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <p><b><u>Disponible</u></b> : {{livreur.dispo}}</p>
        <p><b><u>Description</u></b> : {{livreur.description}} </p>
      </ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-button slot="end">
            <ion-icon name="pin" item-start large style="color:#e0115f" slot="star"></ion-icon>
            {{livreur?.adresse}}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button slot="end" clear>
            <ion-icon name="call" item-start large style="color:#e0115f" slot="star"></ion-icon>
            {{livreur?.telephone}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>



</ion-content>