.parallax-image{
    background: url('../../../assets/imgs/scooter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 55vh;
}

.main{
    background-color: transparent;
    width: 100%;
    position: absolute;
}