<ion-header [translucent]="true">
    <ion-toolbar color="danger">
      <ion-buttons slot="start" style="color:#ffffff">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mon Profil</ion-title>
      <ion-buttons slot="primary" style="color: transparent">
        <ion-button (click)="editProfile()">
            <ion-icon slot="end" name="pencil-outline" style="color:#ffffff"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<!-- -->
<ion-content appParallaxHeader [scrollEvents]="true">

  <div class="parallax-image">
  </div>

  <div class="main">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          {{profileData?.prenom}} {{profileData?.nom}}
        </ion-card-title>
        <ion-item>
          <ion-icon name="pin" item-start large style="color:#e0115f"></ion-icon>
          <h2>{{profileData?.adresse}} </h2>
        </ion-item>
        <ion-item>
            <ion-icon name="call" item-start large style="color:#e0115f"></ion-icon>
          <p>Téléphone : {{profileData?.tel}}</p>
        </ion-item>
        <ion-item>
            <ion-icon name="mail" item-start large style="color:#e0115f"></ion-icon>
          <p>Email : {{profileData?.email}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>